[Desktop Entry]
Version=Oxygen
Name=Eclipse
Comment=Eclipse is an IDE
Exec=/opt/eclipse/eclipse
Path=/opt/eclipse/
Icon=/opt/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=Utility;Application;Development;
