[Desktop Entry]
Name=Eclipse Modeling
Comment=Eclipse Modeling is an IDE
Exec=/opt/eclipse-modeling/eclipse/eclipse
Path=/opt/eclipse-modeling/eclipse/
Icon=/opt/eclipse-modeling/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=Utility;Application;Development;
