Defaults env_keep += "http_proxy https_proxy ftp_proxy ssh_proxy HTTPS_PROXY HTTP_PROXY FTP_PROXY SSH_PROXY"
Defaults env_keep += "DISPLAY"

aluno ALL=(ALL) NOPASSWD: /usr/sbin/tcpdump
ti ALL = (ALL:ALL) NOPASSWD:ALL
